.App {
  text-align: center;
  background-color: blanchedalmond ;
  max-height: 100vh;
}

.App-header {
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-main{
  min-height: 63vh;
  background-color: blanchedalmond ;
}

.App-footer{
  background-color: #75746e;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + .5vmin);
  color: rgb(255, 252, 252);
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.copyright {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: row;
}

a {
  padding: 10px 20px;
}

span {
  padding: 10px;
}